/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}



/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

.green-block {
    background-color: var(--lighter-green);
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.green-block h2 {
    color: var(--white);
    margin-bottom: 15px;
    text-align:center;
}

.green-block .item {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.green-block .icon {
    font-size: 20px;
}

.logo img{
    width:100px;
    height: auto;

}
.contact-text {
    margin-top: 5px;
    font-size: 14px;
    color: var(--white);
}
.contact-block img {
    width: 200px;
    height: auto;
}
.footer{ 
 background-color:var(--darker-orange);
}