/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
    
}

h1 {
    font-size: 52px;
    text-align: center;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}



/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

.green-block {
    background-color: var(--lighter-green);
    color: var(--black);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top:40px;

}

.green-block img {
    margin-bottom: 15px;
    text-align:center;
}

.green-block .item {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.green-block .icon {
    font-size: 20px;
}

.logo img{
    width:100px;
    height: auto;

}
.contact-text {
    margin-top: 5px;
    font-size: 14px;
    color: var(--white);
}

.main-img{
    display: block;
    margin: 0 auto;
}

.contact-block img {
    width: 200px;
    height: auto;
}

.login-card{
  background: #b01818;
  padding: 30px;
  border-radius: 10px;
  color: white;
}

.login-card label{
  margin-top: 10px;
  display: block;
}

.fake-input{
  background: white;
  height: 35px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.login-btn{
  background: #f2a11a;
  color: white;
  text-align: center;
  padding: 12px;
  border-radius: 15px;
  margin-top: 5px;
  font-weight: bold;
}

.hero-header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 180px;
    z-index: 2;
}

.footer{ 
 background-color:var(--darker-orange);
}

.recipe-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.recipe-box{
    display:flex;
    flex-direction: column;
  background: #f8edd0;
  padding: 20px;
  border-radius: 12px;
  margin-top:40px;
  margin-bottom:40px
}

.recipe-img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.recipe-footer{
    margin-top: auto;
}

.smullen-btn {
    background-color: #b01818;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 50px;
    display: inline-block;
    font-weight: bold;
    transition: 0.2s ease;
}

.smullen-btn:hover {
    background: #a31616;     
}

.kaart {
    background-color:var(--kahki);
    color: black;
  padding: 20px;
  border-radius: 12px;
  margin-top:40px;
  margin-bottom:40px;
  align-items: center;
  display: flex;  

}
.kaart-foto{
    border-radius: 12px;
    height: auto;
    width: 200px;
    height:220px;
    object-fit: cover;
    flex: 0 0 200px;
     display: block; 


}
.kaart-content{
    flex:1;
}

.fa-heart.active {
  color: red;
}

.detail-tabs{
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.star {
    font-size: 40px!important;
    color: #000;
    cursor: pointer;
    width: 50px;
}

.star:hover {
    color: gold;
}
.yellow {
    color: gold;
}

.avg-stars{
  color: gold;
  font-size: 40px;
}

.fa-regular.fa-star {
  color: #ccc;
}

.fa-solid.fa-star {
  color: gold;
}

a{
    text-decoration: none;
}