<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ title}} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />


    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>


    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

</head>


<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
        {% block header %}
            
        {% endblock %}   
        </div>
    </div>

 
    <div class="row ">
         <div class="col-md-3">
            <div class="green-block">
             <h2>Agenda</h2>

            <div class="item">
                <i class="fa fa-calendar icon"></i>
                <div>
                 <strong>Vegetarisch koken</strong><br>
                 Een workshop vegetarisch koken.
                </div>
            </div>

            <div class="item">
                 <i class="fa fa-calendar icon"></i>
                <div>
                 <strong>Vegetarisch koken</strong><br>
                Een workshop vegetarisch koken.
                </div>
            </div>
              <div class="item">
                <i class="fa fa-calendar icon"></i>
                <div>
                 <strong>Vegetarisch koken</strong><br>
                 Een workshop vegetarisch koken.
                </div>
            </div>
              <div class="item">
                <i class="fa fa-calendar icon"></i>
                <div>
                 <strong>Vegetarisch koken</strong><br>
                 Een workshop vegetarisch koken.
                </div>
            </div>
        </div>
        </div>
             <div class="col-md-9">
                <h2>Content</h2>
                {%  block content %}
                {%  endblock %}
            </div>
        </div>



     <div class="row footer">

    <!-- Left: burger logo -->
    <div class="col-md-1">
        <div class="logo">
            <img src="assets/img/verrukkulluk-burger.png" alt="Logo">
        </div>
    </div>

    <!-- Right: contact image + address UNDER it -->
    <div class="col-md-11">
        <div class="contact-block">
            <img src="assets/img/verrukkulluk-contact.png" alt="Contact">

            <div class="contact-text">
                Verrukkulluk.nl<br>
                Poststraat 2b<br>
                Sittard<br>
                info@verrukkulluk.nl
            </div>
        </div>
    </div>

</div>
    </div>

</body>

</html>
